resource/ERPService.wsdl

<wsdl:definitions
    
     targetNamespace="http://service.fmis.nstc.com"
     xmlns:ns1="http://model2.fmis.nstc.com"
     xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding"
     xmlns:tns="http://service.fmis.nstc.com"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/"
     xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
     xmlns:soap12="http://www.w3.org/2003/05/soap-envelope"
    >
    <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://model2.fmis.nstc.com">
<xsd:complexType name="InterAccountSeq">
<xsd:sequence>
<xsd:element minOccurs="0" name="ACCOUNT_NO" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="BOOK_DATE" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="InterAccount">
<xsd:sequence>
<xsd:element minOccurs="0" name="ACCOUNT_NO" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="BOOK_DATE" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="RET_CODE" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="RET_MSG" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="amount" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.fmis.nstc.com">
<xsd:element name="queryInterAccount">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:InterAccountSeq"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="queryInterAccountResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:InterAccount"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
    </wsdl:types>
    <wsdl:message name="queryInterAccountRequest">
        <wsdl:part name="parameters" element="tns:queryInterAccount"/>
    </wsdl:message>
    <wsdl:message name="queryInterAccountResponse">
        <wsdl:part name="parameters" element="tns:queryInterAccountResponse"/>
    </wsdl:message>
    <wsdl:portType name="ERPServicePortType">
        <wsdl:operation name="queryInterAccount">
            <wsdl:input name="queryInterAccountRequest" message="tns:queryInterAccountRequest"/>
            <wsdl:output name="queryInterAccountResponse" message="tns:queryInterAccountResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ERPServiceHttpBinding" type="tns:ERPServicePortType">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="queryInterAccount">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="queryInterAccountRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="queryInterAccountResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ERPService">
        <wsdl:port name="ERPServiceHttpPort" binding="tns:ERPServiceHttpBinding">
            <wsdlsoap:address location="http://localhost:5020/fmis/service/ERPService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
